@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great|Bad+Script|Walter+Turncoat|Kaushan+Script|Handlee|Adamina|Metamorphous);

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
img.jessica-img {
  border: 3px solid white;
  margin: 0 auto;
}
 
.footer {
  margin-top: .5em;
  color: white;
}

/* NAVBAR */
.navbar-fixed-bottom {
  text-align: right;
}

.navbar-brand {
  font-family: 'Metamorphous', cursive;
  color: white !important;
  font-size: 2em !important;
  text-shadow:
  1px 1px 0 #CCC,
  2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
  3px 3px 0 #444,
  4px 4px 0 #444,
  5px 5px 0 #444,
  6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

.navbar-default {
  background-color: #300030 !important;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Metamorphous', cursive;
  color: white !important;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(4) {
    top: -6px;
    transform: rotate(-45deg);
}







.title {
  font-size: 6em;
  /*font-family: 'Bad Script', cursive;*/
  font-family: 'Fredericka the Great', cursive !important;
}

.for-hire {
  font-size: 5em;
  right: -350px;
  font-family: 'Walter Turncoat', cursive;
  color: #C04848;
}

/*ABOUT SECTION*/
.effect{
  margin: 0;
  padding: 40px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}

.glow {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px white;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   /*transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
   text-align: center;
   color: #601848;
   font-family: 'Antic Didone, serif';
}

.shroud {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  position: inherit;
  top:0;
  bottom:0;
  left:0;
  z-index: 1;
}

.about {
  font-family: 'Handlee', cursive;
  color; black;
  font-size: 2em;
}
.hello {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  padding-bottom: 5px;
}

.skills-header {
  font-size: 1.5em;
}

.skills-border {
  border: 1px solid white;
  background-color: #300030;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.projects-border {
  border: 1px solid white;
  background-color: #300030;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}


/*IMAGES*/

.icons {
  height: 22px;
  width: 22px;
  padding-right: 5px;
}



@media screen and (max-width:40em) {
  ul li{
    width: 45%;
    margin: 0;
    float: left ;
    clear: left;
  }
}

.project {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 5px #fff;
  margin: 20px 0px 20px 0px;
}

.project-imgs {
  display: inline-flex;
}

/* CONTACT FORM */

#contact-form {
  background-color: #300030;
}

label {
  color: white;
}

.contact {
  color: white;
  padding-top: 20px;
}
* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width:100%;
  box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border:1px solid #CCC;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
  color: grey;
}

#contact-form button[type="submit"] {
    cursor:pointer;
    width:10%;
    border:none;
    background:#C04848;
    background-image:linear-gradient(bottom, #C04848 0%, #C04848 52%);
    background-image:-moz-linear-gradient(bottom, #C04848 0%, #C04848 52%);
    background-image:-webkit-linear-gradient(bottom, #C04848 0%, #C04848 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

